.about_container {
  width: 100%;
  height: calc(100vh - 50px - 7.5rem);
  overflow-y: auto;
  min-width: 300px;
  margin: 50px auto 0 auto;
  padding: 1rem;

  &_title {
    color: var(--blue-80);
    font-size: 1.2rem;
    font-weight: 700;
  }

  &_content {
    margin-bottom: 20px;
    color: var(--dark-80);
    line-height: 1.6;
    font-size: 0.85rem;
  }

  &_wrapper {
    display: flex;
    margin-top: 10px;
  }

  &_box {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

    &_title,
    &_text {
      color: var(--dark-80);
      font-size: 0.85rem;
    }

    &_text:last-child {
      margin-bottom: 20px;
    }

    &_title {
      font-weight: 500;
    }
  }

  &_text {
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }

  &_style {
    display: flex;
    justify-content: space-between;

    &_box {
      width: 48%;

      &_img {
        width: 100%;
        min-width: 100px;
        max-width: 220px;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .about_container {
    max-width: 1024px;
    padding: 2.5rem 1rem;
    height: calc(100vh - 50px - 10rem);

    &_title {
      font-size: 1.6rem;
    }

    &_content {
      margin: 15px 0 40px;
      font-size: 1.4rem;
    }

    &_box {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;

      &_title,
      &_text {
        margin-bottom: 4px;
        color: var(--dark-80);
        font-size: 1.4rem;
      }

      &_title {
        font-weight: 500;
      }
    }

    &_text {
      margin: 1rem 0 2.5rem ;
      font-size: 1.3rem;
    }


    &_title {
      padding: 2.5rem 0 0;
      font-size: 1.6rem;
      font-weight: 700;
    }

    &_text {
      margin: 1rem 0 2.5rem ;
      font-size: 1.3rem;
    }

    &_style {
      justify-content: flex-start;

      &_box {
        width: 30%;
        min-width: 240px;

        &_img {
          padding-right: 10px;
        }
      }
    }
  }
}