:root {
  --primary: #ffd028;
  --secondary: #ff5541;
  --third: #ee2242;
  --blue-20: #c0eff5;
  --blue-40: #7fd6df;
  --blue-60: #34a2b7;
  --blue-80: #005869;
  --dark-0: #fff;
  --dark-20: #eff0f0;
  --dark-40: #a5a7aa;
  --dark-80: #585963;
  --dark-100: #000;
}
