.filter {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.filter-container {
  position: fixed;
  z-index: 500;
  top: 130px;
  left: 0;
  width: 90px;
  height: 35px;
  margin-left: 20px;
  padding: 0.5rem 0.2rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2.5rem;
  background-color: var(--dark-0);
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);

  &_title {
    color: var(--blue-60);
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &_img {
    width: 16px;
    transition: .1s ease;
  }
}

.filter-list {
  position: fixed;
  z-index: 499;
  top: 130px;
  left: 20px;
  display: none;
  padding: 20px 0 15px;
  width: calc(100% - 40px);
  min-width: 280px;
  max-width: 330px;
  max-height: 500px;
  border-radius: 1.2rem;
  background-color: var(--dark-0);
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);

  &_box {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    &_title {
      margin: 5px 0 0;
      padding: 0 0 0 15px;
      color: var(--dark-60);
      font-size: 0.85rem;
      font-weight: 500;
    }

    &_group {
      display: flex;
      flex-direction: column;
      padding: 0 0.8rem 0 0;

      input[type=radio] {
        display: none;
      }

      &_label {
        width: 95%;
        min-width: 150px;
        margin: 0.3rem 1.5rem 0.3rem 0;
        padding: 0.4rem 0.7rem;
        border-radius: 2rem;
        border: 1px solid var(--blue-60);
        color: var(--blue-60);
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}

.selected {
  color: var(--dark-0);
  background-color: var(--blue-60);
}

.filter-expand {
  &_btn {
    box-shadow: none;
  }

  &_img {
    transform: rotate(180deg);
  }

  &_list {
    display: block;
  }
}

@media screen and (min-width: 550px) {
  .filter-container {
    top: 88px;
    width: 105px;
    height: 38px;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;

    &_title {
      font-size: 1rem;
    }
  }
  .filter-list {
    top: 140px;
    max-width: 360px;
    padding: 5px 0 15px;

    &_box {
      width: 100%;

      &_title {
        margin: 0.7rem 0 0;
        padding-left: 20px;
        font-size: 1rem;
      }

      &_group {
        margin-top: 0.3rem;

        &_label {
          min-width: 200px;
          margin: 0.3rem 1.2rem 0.3rem 0;
          padding: 0.5rem 0.8rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
