.home-container {
  width: 100%;

  &_main-img {
    width: 100%;
    height: calc(100vh - 50px - 10rem - 50px);
    min-height: 480px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 50px;
  }
}
