.leaflet-touch .leaflet-bar {
	border: none;
}

.leaflet-bar a {
	color: var(--blue-60);
	border-bottom: 2px solid var(--dark-20);
}

.leaflet-left
.leaflet-control {
	margin-left: 20px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
	position: fixed;
	bottom: 25px;
	padding: 22px;
	font-size: 1.65rem;
	box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.1);

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
	}
}

.leaflet-control-zoom-in {
  margin-bottom: 43px;
}

.leaflet-touch .leaflet-bar > a:first-child {
	border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	}
.leaflet-touch .leaflet-bar > a:last-child {
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	}

.leaflet-container .leaflet-control-attribution {
	margin: 0;
	padding: 5px 10px;

	>span {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.leaflet-container .leaflet-control-attribution {
		display: flex;
		justify-content: flex-end;
		width: 425px;
		text-align: left;

		>span {
			display: none;
		}
	}
}
