.popup {
  width: 230px;
  
  > a {
    color: var(--blue-60);
  }

  &_title {
    padding-bottom: 4px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
  }

  &_sub {
    display: flex;
    justify-content: space-between;
    
    &_box {
      margin-right: 20px;

      &_title {
        margin-right: 8px;
        padding-top: 8px;
        font-size: 0.9rem;
        font-weight: 500;
      }

      &_num {
        color: var(--blue-80);
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }

  &_detail_box {
    margin-top: 0.6rem;

    &_title {
      margin: 0;
      padding: 0.1rem 0;
      color: var(--blue-80);
      font-size: 0.85rem;
      font-weight: 500;
    }

    &_body {
      color: var(--dark-100);
      font-size: 0.8rem;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
}

.leaflet-div-icon.leaflet-marker-icon {
  border: none;

  > div {
    width: 25px;
  }
}

.map-container {
  &_locate {
    position: fixed;
    z-index: 500;
    left: 0;
    margin-left: 20px;
    padding: 0;
    background-color: var(--dark-0);
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
  }

  &_locate {
    bottom: 125px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 500px) {
  .popup {
    max-width: 250px;
  }
}
