.popup {
  min-width: 220px;
  
  > a {
    color: var(--blue-80);
  }

  &_title {
    padding-bottom: 5px;
    font-size: 0.9rem;
  }

  &_sub {
    display: flex;
    
    &_box {
      margin-right: 25px;

      &_title {
        margin-right: 5px;
        font-size: 0.75rem;
        font-weight: 500;
      }

      &_num {
        color: var(--blue-60);
        letter-spacing: 1px;
      }
    }
  }
}

.leaflet-div-icon.leaflet-marker-icon {
  border: none;

  > div {
    width: 25px;
  }
}

.map-container_locate {
  position: fixed;
  bottom: 125px;
  left: 0;
  z-index: 500;
  width: 45px;
  height: 45px;
  margin-left: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  
  > img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 500px) {
  .popup {
    max-width: 320px;
  }
}
