.quick-container {
  width: 100%;
  min-width: 300px;
  max-width: 768px;
  margin: 60px auto 0 auto;
  padding: 1rem;

  &_title {
    color: var(--blue-80);
    font-size: 1.2rem;
    font-weight: 700;
  }
}